<%= form_for(@wxyzer) do |f| %>
  <div class="field">
    <%= f.label :email, 'your email:' %><br><br>
    <%= f.text_field :email, :size => 60 %>
  </div><br>

  <div class="actions">
    <%= image_submit_tag 'green_submit.png', :id => 'green_submit' %>
  </div>
<% end %>
