<div class="notice">
  <%= notice %>
</div>

<div id="contact">
  <br><br><br><br>
  Wholesale Inquiries:<br><br>
  <%= mail_to 'wass@wxyzjewelry.com', 'WASS@WXYZJEWELRY.COM' %>
  <br><br>
  +1 610.613.2419<br><br>
  Designed in Brooklyn, NY<br>
</div>

<div id="mailing">
  Join Our Mailing List<br>
  <%= render 'form' %>
</div>