<div class="notice">
  <%= notice %>
</div>

<div id="contact">
  <br><br><br><br>
  WASS@WXYZJEWELRY.COM
  <br><br>
  +1 610.613.2419<br>
  195 Morgan Ave<br>
  Brooklyn, NY 11237<br>
</div>

<div id="mailing">
  Join Our Mailing List<br>
  <%= render 'form' %>
</div>