<div id="about">
  WXYZ jewelry reveals future histories of man and machine.  
  <br><br>
  A collaboration between the artisanal and the industrial in both its creation and aesthetic, WXYZ gives permission for the dichotomies of our culture to play.
  <br><br>
  The engineered and the crafted, the future and the ancestor, the city and the wild engage and inspire urban talismans which reflect our complex environment.
  <br><br>
  The module is the link, intregral to culture and nature - from architecture to cell structure. childhood games, atomic lattices, and industrial components. This design element allows the imaginative and the structural to invite and incite.
  <br><br>
  WXYZ utilizes  modernist, utopian forms such as primary structures and utilitarian geometries which speak to a streamlined, optimistic aesthetic. This approach is wedded to a conciousness of ceremony, memory, idosyncrasy and play. Color, transparency and texture conspire to push classical forms beyond the minimal into a rigorous simplicity of form and thought.  
</div>