<div id="about"> 
  <br><br>
 WXYZ Jewelry commences at the intersection of traditional hand fabrication and modern industrial production. The designs draw on a fixed set of elements that are strategically submitted to structural play. As with linguistic, geometric and biological configurations, fundamental forms serve as the foundation for a series of transformations. Constructed of repeated units, the composite forms exceed the sum of their parts.
  <br><br>
 Taking its departure from the concluding letters of the Latin alphabet, WXYZ Jewelry is both the end and the beginning.  
</div>
<% content_for :metatags do %>
  <%= content_tag :meta, nil, :name => 'description', :content => 'WXYZ Jewelry commences at the intersection of traditional hand fabrication and modern industrial production. The designs draw on a fixed set of elements that are strategically submitted to structural play. As with language, geometric and biological configurations, fundamental forms serve as the foundation for a series of transformations. Constructed of repeated units, the composite forms exceed the sum of their parts.' %>
  <%= content_tag :meta, nil, :name => 'keywords', :content => 'inspiration, design, traditional jewelry fabrication, modern industrial production, materials, alphabet, biology, geometry, linguistics, transformation' %>
<% end %>