<div id="about">
  WXYZ jewelry reveals future histories of man and machine.  
  <br><br>
 WXYZ Jewelry commences at the intersection of traditional hand fabrication and modern industrial production. The design draws on a fixed set of elements that are strategically submitted to structural play. As with geometric and biological configurations, fundamental forms serve as the foundation for a series of transformations. Constructed of repeated units, the composite forms exceed the sum of their parts.
</div>