<div class="collection portal heading">
  NECKLACES
</div>
<div class="collection portal">
  <%= image_tag 'necklace.jpg' %>
</div>
<div class="collection portal heading">
  BRACELETS
</div>
<%= cleardiv %>
<div class="collection portal">
  <%= image_tag 'necklace.jpg' %>
</div>
<div class="collection portal heading">
  (EAR)RINGS
</div>
<div class="collection portal">
  <%= image_tag 'necklace.jpg' %>
</div>

