<div class="collection_pieces">
  <% @pieces.each do |piece| %>
    <%= div_for piece, :class => 'shopify_api_product' do %>
      <%= image_tag piece.images.first.src %>
    <% end %>
  <% end %>
</div>