<div id="spacer">
</div>
<%= image_tag 'STILL IMAGE FOR COCO-AMIT STOP MOTION.png', :class => 'landing', :id => 'left_landing', :'data-gif-src' => 'COCO-AMIT LANDING.gif' %>
<%= image_tag 'STILL IMAGE FOR L STOP MOTION GIF.png', :class => 'landing', :id => 'right_landing', :'data-gif-src' => 'L STOP MOTION LANDING.gif' %>