<div id="gif_container">
  <%= image_tag 'STILL IMAGE FOR COCO-AMIT STOP MOTION.png', :class => 'landing', :id => 'left_landing', :'data-gif-src' => 'COCO-AMIT LANDING GIF.gif' %>
  <%= image_tag 'COCO-AMIT LANDING GIF.gif', :class => 'landing_animation', :id => 'left_gif' %>
  <%= image_tag 'STILL IMAGE FOR L STOP MOTION GIF.png', :class => 'landing', :id => 'right_landing', :'data-gif-src' => 'L STOP MOTION LANDING.gif' %>
  <%= image_tag 'L STOP MOTION LANDING.gif', :class => 'landing_animation', :id => 'right_gif' %>
</div>
