.yellowgrid {
	background: url('grid.png') 0 0;
	background-repeat-x: repeat-x;
	background-repeat-y: repeat-y;
}

.portal_container {
	text-align: center;
	vertical-align: top;
}

.collection.portal.heading {
	padding-top: 9%;
	padding-bottom: 9%;
}

.collection.portal {
	border: 7px solid;
	width: 23%;
	margin: 1.1%;
  display: inline-block;
	
	font-size: 51px;
	vertical-align: top;
}

.collection.portal img {
	width: 97%;
}

.collection_pieces {
	margin: 22px;
}

.shopify_api_product {
	float: left;
	position: relative;
	padding: 11px;
	border-right: 2px #B1D81D solid;
	border-bottom: 2px #B1D81D solid;
}

.shopify_api_product img {
	width: 200px;
}

.title_shopify_api_product {
	background-color: black;
	opacity: 0.5;
	color: white;
	position: absolute;
	top: 1px;
	display: none;
}

.shopify_api_product:hover .title_shopify_api_product {
	display: block;
}