.collection.portal.heading {
	border: 7px solid;
	padding-top: 13%;
	padding-bottom: 13%;
}

.collection.portal {
	width: 30%;
	margin: 1.3%;
	float: left;
	
	font-size: 40px;
	vertical-align: center;
}

.collection.portal img {
	width: 100%;
}