.yellowgrid {
	background: image-url('grid.png') 0 0;
	background-repeat-x: repeat-x;
	background-repeat-y: repeat-y;
}

.collection.portal.heading {
	padding-top: 13%;
	padding-bottom: 13%;
}

.collection.portal {
	border: 7px solid;
	width: 30%;
	margin: 1.1%;
	float: left;
	
	font-size: 51px;
	vertical-align: center;
}

.collection.portal img {
	width: 97%;
}

.collection_pieces {
	margin: 22px;
}

.shopify_api_product {
	float: left;
	padding: 11px;
	border-right: 2px #B1D81D solid;
	border-bottom: 2px #B1D81D solid;
}

.shopify_api_product img {
	width: 200px;
}